# Big Mac CSV Activities
I have provided you with a very small amount of the original big mac data dataset in a .csv file. Use it to complete all the activities in this notebook.

In [36]:
import pandas as pd

#Read in the big_mac_aud.csv file and store it as big_mac_df. Add the headings 'Country', 'Local', 'AUD' and 'Date'
import pandas as pd
big_mac_df = pd.read_csv('data/big_mac_aud.csv',
                          header=None, 
                          names=['Country', 'Local', 'Aud','Date'],
                          on_bad_lines='skip')
big_mac_df

#Output the big_mac_df

         Country   Local   Aud       Date
0      Australia    7.45  7.45  1/07/2023
1        Britain    4.19  8.05  1/07/2023
2          Japan  450.00  4.52  1/07/2023
3    New Zealand    8.10  6.50  1/07/2023
4  United States    5.58  8.50  1/07/2023

## Add More Rows

I want to add France to the above dataframe. The cost is 5.30 EUROs. You'll need to do the conversion for AUD.

For information on how to add a row to a dataframe, read through the instructions on [How to Add New Rows to a Pandas Dataframe](https://saturncloud.io/blog/how-to-add-new-rows-to-a-pandas-dataframe/)

**NOTE:** Inbetween each test, make sure to *Clear All Outputs* and *Run All* (options at the top of the screen).

In [37]:
#Create a new row as a dictionary called 'new_row'

new_row = {'Country': "France", 'Local': 5.3, 'Aud':8.53,'Date':"1/07/2023"}
big_mac_df.loc[len(big_mac_df)] = new_row
big_mac_df = big_mac_df.drop_duplicates(keep=False)
#big_mac_df = big_mac_df.sort_values('Country').drop_duplicates(['Country','Local','Aud','date'], keep='last')
print(big_mac_df)
print(big_mac_df.tail(1))
#big_mac_df = big_mac_df.append(new_row, ignore_index=True)
#Add the row to big_mac_df with either the append or loc function



#Print the dataframe

         Country   Local   Aud       Date
0      Australia    7.45  7.45  1/07/2023
1        Britain    4.19  8.05  1/07/2023
2          Japan  450.00  4.52  1/07/2023
3    New Zealand    8.10  6.50  1/07/2023
4  United States    5.58  8.50  1/07/2023
5         France    5.30  8.53  1/07/2023
  Country  Local   Aud       Date
5  France    5.3  8.53  1/07/2023

## Write to .csv File
Now that we've updated the data, let's write a new .csv file reflecting the changes. 

**NOTE:** It should not create multiple files if you keep running this, but just remember to *Clear All Outputs* inbetween each test to avoid adding France more than once.

In [38]:
#Write the big_mac_df big_mac_update.csv in the data folder. Do not include indexes.
import pandas as pd
big_mac_df.to_csv('data/Big_mac_new.csv')
big_mac_df_2 = pd.read_csv('Data/Big_mac_new.csv',
                          header=0, 
                          on_bad_lines='skip')
big_mac_df_2

   Unnamed: 0        Country   Local   Aud       Date
0           0      Australia    7.45  7.45  1/07/2023
1           1        Britain    4.19  8.05  1/07/2023
2           2          Japan  450.00  4.52  1/07/2023
3           3    New Zealand    8.10  6.50  1/07/2023
4           4  United States    5.58  8.50  1/07/2023
5           5         France    5.30  8.53  1/07/2023